.blogItems-wrap {
    display: flex;
    flex-direction: column;
}
.blogItems-cover {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px;
    margin-bottom: .5rem;
}
.blogItems-wrap h2 {
    margin: 0.5rem 0 1rem 0;
    flex: 1;
}

.blogitem-desc {
    position: relative;
    max-height: 50px;
    overflow: hidden;
    font-size: .8rem;
    padding-right: .6rem;
    color: #a9a9a9;
}
.blogitem-desc::before {
    position: absolute;
    content: '...';
    bottom: 0;
    right: 0;
}
.blogItems-wrap footer {

    display: flex;
    align-items: center;
    margin-top: 1rem;
    justify-content: space-between;
}

.blogItems-link {
    text-decoration: none;
    color: inherit;
}
.blogitem-author {
    display: flex;
    align-items: center;

}

.blogitem-author img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: .5rem;
}
.blogitem-author p {
    font-size: 0.6rem;
    color: #a9a9a9;
    font-weight: 600;
}